<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
</head>
<body>
    <h1>HR Dashboard</h1>
    <nav>
        <ul>
            <li><a href="{% url 'logout' %}">Logout</a></li> <!-- Logout Link -->
        </ul>
    </nav>
    <li><a href="{% url 'hr_announcements' %}">Announcements Management</a></li>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{% url 'view_user_info' user.id %}">View</a> | 
                    <a href="{% url 'edit_user_role' user.id %}">Edit</a> | 
                    <a href="{% url 'upload_user_document' user.id %}">Upload Document</a>
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
